.MuiBox-root{
    padding: 0 !important;
    height: 100%;
}
a{
    text-decoration: none !important;
}
.contact{
    margin-bottom: 3.8rem;

}
.projects{
    margin-bottom: 3.7rem;

}
.resume{
    margin-bottom: 10.4rem;

}