.MuiBox-root{
    padding: 0 !important;
    height: 100%;
}
a{
    text-decoration: none !important;
}
ul{
    list-style-type: none;
    li{
        margin-left: 0;
    }
}
.contact{
    margin-bottom: 3.8rem;

}
.projects{
    margin-bottom: 3.7rem;

}
.resume{
    margin-bottom: 10.4rem;

}
.contact,.projects,.resume{
    padding-bottom: 4rem !important;
}