.MuiBox-root{
    padding: 0 !important;
    height: 100%;
}
a{
    text-decoration: none !important;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.contact{
    margin-bottom: 3.8rem;

}
.projects{
    margin-bottom: 3.7rem;

}
.resume{
    margin-bottom: 10.4rem;

}
.projects,.resume,.about,.showoff-container{
    padding-bottom: 1rem !important;
}