.header{
    padding: .6rem;
    padding-bottom: 0;
    background-color: $color-primary;
    color: $color-text;
    
.header_menu{
    color: $color-text;
    a{
        color: $color-text;
        :hover{
            color: cyan;
        }
    }
    padding-left: 0;
    padding: .25rem;
    max-width: 100%;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 80%;
    @include for-phone-only{
        grid-template-columns: 1fr;
        grid-template-rows: 10% 60% 30%;
    }
    .header_nav{
        display: none;
        flex-direction: row;
    @include for-phone-only{
        li{
            margin-top: 1rem;
        }
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: .5rem;

    }
    @include for-tablet-portrait-up{
        display: flex !important;
    }
    justify-content: space-around;
    font-weight: bold;
    font-size: 1rem;
        :hover{
            color: cyan;
        }
}
    .header_title{
        .titles{
            .title{
                font-size: 1.5rem;
                color: $color-text;
                :hover{
                    color: cyan;
                }
                @include for-phone-only{
                    color: $color-text;
                    text-align: center;
                }
            }
        }
    }
    .dark-mode-container{
        text-align: right;
    }
}
};