.header{
    padding: 0 1rem;
    background-color: $color-primary;
    color: $color-text;
    .header_title{
    color: $color-text;
    }
    .dark-mode-container{
        text-align: right;
    }
};