.card-container .MuiTypography-root{
    display: grid;
    grid-gap: 0;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr;
    @include for-tablet-landscape-up{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .MuiCard-root{
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        }
    .MuiTypography-body2{
        grid-template-columns: 1fr;
        font-size: 1.3rem;
    }
}

.card-container .MuiTypography-gutterBottom{
    display: block;
}
