.card-container .MuiTypography-root{
    display: grid;
    grid-gap: 0;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr;
    @include for-tablet-landscape-up{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .MuiCard-root{
        max-width: 90%;
        height: 40vh;
        margin-right: auto;
        margin-left: auto;
        
        @include for-tablet-landscape-up{
            height: 50vh;

        }
    }
    .card-image{
        @include for-tablet-landscape-up{
            height: 50vh;

        }
    }
    .MuiTypography-body2{
        grid-template-columns: 1fr;
        font-size: 1.3rem;
    }
}

.card-container .MuiTypography-gutterBottom{
    display: block;
}

.MuiCardContent-root:last-child{
    padding: 0;
    padding-left: 10px;
    padding-top: 20px;
}