.about{
    padding: 2rem;
    width: 100%;
    min-height: 70.4vh;
    h2{
        text-align: center;
    }

    ul{
        
        padding-left: 0;
        li{
        list-style-type: none; 
            }
    
    }
.contact-form{
    max-width: 60%;
    width: 60%;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 2rem;
    @include for-phone-only{
        margin-left: auto;
    }
    .ant-input{
        border-radius: 5px 5px 5px 5px;
    }
    .ant-btn{
        border-radius: 5px;
    }
}
.message{
    display: block;
    margin: 2rem auto;
    width: 50%;
    font-weight: bold;
}
}