.contact{
    padding: 2rem;
    width: 100%;
    min-height: 70.4vh;
    h2{
        text-align: center;
    }

    ul{
        
        padding-left: 0;
        li{
        list-style-type: none; 
            }
    
    }
.contact-form{
    max-width: 60%;
    width: 60%;
    margin-right: auto;
    margin-left: 15%;
    @include for-phone-only{
        margin-left: auto;
    }
}




.links{
    align-items: center;
    text-align: center;
    width: 30%;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    color: $color-primary;
    
    :hover{
        color: darkcyan;
    }
    i{
        font-size: 2rem;
        color: $color-primary;
    }
}
}
