.showoff-container{
    h2{
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0;
        }
    .showoff-list{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    // for limiting the width of the components inside the list
    li{
        max-width: 95%;
    }
    .graph-card{
        margin: 2rem;
        height: 40vh;
    }
    .bump-card{
        margin: 2rem;
        padding-bottom: 3rem;
        height: 60vh;
   }
   .radar-card{
        margin: 2rem;
        padding-bottom: 2rem;
        height: 80vh;
   }
   .dog-card{
       margin-bottom: 5rem;
       margin-right: auto;
       margin-left: auto;
       width:85%;
       .getdogs-button{
           margin-right: auto;
           margin-bottom: 1rem;
           margin-left: auto;
           margin-right: auto;
       }
   }
   .barchart-card{
    margin: 2rem;
    padding-bottom: 9rem;
    height: 90vh;
    .barchart-buttons{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        button{
            margin: .2rem;
        }
    }
   }
   .mouse-game-card{
    margin: 2rem;
    margin-bottom: 5rem;
    height: 50vh;
    position: relative;
    .winning-message{
        font-weight: bold;
        font-size: 2rem;
        color:red;
        width: 40%;
        margin: 1rem auto;
    }
}
.calculator-card{
    margin: 2rem;
    margin-bottom: 5rem;
    height: 65vh;
    .calc-input-container{
        display: grid !important;
        grid-template-columns: 80% 20%;
        grid-gap: .1rem;
        width: 70%;
        margin: 1rem auto;
        margin-bottom: 0;
        border-radius: 15px 15px 0px 0px;
        background-color: lighten(black,20%);
        padding: .5rem;
        display: block;
        .calculator-input{
            font-weight: bold;
            border: 1px solid black;
            background-color: darken(green,10%);
            padding-left: .3rem;
        }
}
    .calculator-numbers{
        display: grid;
        grid-gap: .4rem;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        background-color: lighten(black,20%);
        padding: .5rem;
        #button0{
            grid-column: 2;
        }
        .calculator-button{
            font-weight: bold;
        }
    };
    .calc-actions{
        display: grid;
        grid-gap: .4rem;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 70%;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        background-color: lighten(black,28%);
        border-radius: 0 0 15px 15px;
        padding: .5rem;
       
        .calculator-action-button{
            background-color: lighten(#1890ff,20%);
            font-weight: bold;
        }
        .calculator-action-button:last-child{
            background-color: lighten(green, 10%);
            grid-column: span 3;
        }
    };
};
};
.music-card{
    width: 75%;
    height: 67vh;
    margin-right: auto;
    margin-left: auto;
    color:white;
    border-radius: 15px;
    padding: 1rem;
    background-color: lighten(black,20%);
    .css-nrdprl-MuiTypography-root{
        color:white;
    }
    .music-controller-button{
        border-radius: 50%;
        font-size: 1.5rem;
    }
    .music-time-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;
    }
    .music-controller-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .music-controller-button{
            font-size: 2rem;
            color: white;
            background-color: lighten(black,20%);
            border: none;
:hover{
    color: red;
}
        }
    }
    };
}