.showoff-container{
    h2{
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0;
        }
    .showoff-list{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    // for limiting the width of the components inside the list
    li{
        max-width: 95%;
    }
    .graph-card{
        margin: 2rem;
        height: 40vh;
    }
    .bump-card{
        margin: 2rem;
        padding-bottom: 3rem;
        height: 60vh;
   }
   .radar-card{
        margin: 2rem;
        padding-bottom: 2rem;
        height: 80vh;
   }
   .dog-card{
       margin-bottom: 5rem;
       margin-right: auto;
       margin-left: auto;
       width:85%;
       .getdogs-button{
           margin-right: auto;
           margin-bottom: 1rem;
           margin-left: auto;
           margin-right: auto;
       }
   }
   .barchart-card{
    margin: 2rem;
    padding-bottom: 9rem;
    height: 90vh;
    .barchart-buttons{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        button{
            margin: .2rem;
        }
    }
   }
   .mouse-game-card{
    margin: 2rem;
    margin-bottom: 5rem;
    height: 50vh;
    position: relative;
    .winning-message{
        font-weight: bold;
        font-size: 2rem;
        color:red;
        width: 40%;
        margin: 1rem auto;
    }
}
}
}