.MuiTabs-flexContainerVertical{
    position: fixed !important;
}
.MuiTabs-flexContainer{
    justify-content: space-around !important;

}
.PrivateTabIndicator-root-8{
    background-color: $color-text !important;
}
.MuiAppBar-colorPrimary{
    background-color: $color-primary !important;  
}
.MuiTabs-flexContainerVertical{
    padding-left: 0%;
    display: none;
    @include for-tablet-landscape-up{
        padding-left: 2%;
    }
    @include for-phone-only{
        margin-left: 0;
    }
}



.MuiTabs-vertical{
    padding-top: 1rem;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, $color-primary 10%, rgba(13,170,251,1) 20%, rgba(46,113,194,1) 40%, rgba(50,88,194,1) 63%, $color-primary 80%);
    color: $color-text;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
}

.MuiTab-wrapper{
    font-weight: bold;
}