.MuiTabs-flexContainerVertical{
    position: fixed !important;
}
.MuiTabs-flexContainer{
    justify-content: space-around !important;

}
.PrivateTabIndicator-colorSecondary-9{
    background-color: white !important;
}
.MuiAppBar-colorPrimary{
    background-color: $color-primary !important;  
}
.MuiTabs-flexContainerVertical{
    padding-left: 0%;
    display: none;
    @include for-tablet-landscape-up{
        padding-left: 2%;
    }
    @include for-phone-only{
        margin-left: 0;
    }
}



