.skills_table{
    max-width: 90%;
    text-align: left;
    padding: 0;
    display: grid;
    margin-right: auto;
    list-style-type: none;
    margin-left: auto;
    width: 80%;
    @include for-phone-only{
        width: 80%;
        grid-template-columns: 1fr;
    }
    @include for-tablet-landscape-up{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
    li{
        font-size: .9rem;
        span{
            @include for-phone-only{
                display: none;
            }
        }
    }
}


.projects{
    .projects-header{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0;

    }
    .cards-container{
        @include for-phone-only{
            display: block;
        }
        @include for-tablet-landscape-up{
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        
        }
        // .project-card{
        //     max-width: 350px;
        //     margin-right: auto;
        //     margin-left: auto;
        //     margin-top: 2rem;
        // }
    }
    button{
text-align: left;   
a{
    text-decoration: none;
} 
}
    // card action area hover
    button:hover{
        border-radius: 15px;
        transition: 500ms;
        
    }
}

.MuiButtonBase-root, .MuiCardActionArea-root{
    height: 100%;
}

.work{
    margin: 0;
    padding: 0;
    .work-title{
        text-align: center;
    }
    .work-card-container{
        margin-right: auto;
        margin-left: auto;
        @include for-tablet-landscape-up{
            max-width: 60%;
        }
        @include for-tablet-portrait-up{
            max-width: 80%;
        }
        @include for-phone-only{
            width: 80%;
        }
        .work-card{
            width: 100%;
            margin-top: 1rem;
        }
    }
    button:hover{
        transition: 2000ms;
    }
}

.education{
    .education-title{
        text-align: center;
    }
    .education-card-continer{
        margin-right: auto;
        margin-left: auto;
        @include for-tablet-landscape-up{
            max-width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        @include for-tablet-portrait-up{
            max-width: 80%;

        }
        @include for-phone-only{
            width: 80%;
        }
    .education-card{
        width: 100%;
        margin-top: 2rem;

    }  
}
.education-card:hover{
        transition: 2000ms;
    }
}

.docker-code{
    color:white;
    background-color: #666;
    border-radius: 15px;
    display: block;
    padding: 1rem;
}


.resume{
    .cards-container{
        display: grid;
        grid-template-columns: 27% 73%;
        @include for-phone-only{
            grid-template-columns: 45% 55%;
        }
        @include for-tablet-landscape-up{
            grid-template-columns: 20% 80%;
        }
    }
   .resume-header{
       text-align: center;
       margin-top: 2.5rem;
       margin-bottom: 0;
   }
}