.skills_table{
    width: 60%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}


.projects{
    .projects-header{
        text-align: center;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .cards-container{
        @include for-phone-only{
            display: block;
            .project-card{
                margin: 2rem;
            }
        }
        @include for-tablet-landscape-up{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        
        }
        .project-card{
            max-width: 350px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 2rem;
        }
    }
    button:hover{
        background-color: lightskyblue;
        transition: 2500ms;
    }
}

.MuiButtonBase-root, .MuiCardActionArea-root{
    height: 100%;
}

.work{

    .work-title{
        text-align: center;
    }
    .work-card-container{
        margin: 1rem;
        margin-right: auto;
        margin-left: auto;
        @include for-tablet-landscape-up{
            max-width: 60%;
        }
        @include for-tablet-portrait-up{
            max-width: 80%;
        }
        @include for-phone-only{
            max-width: 80%;
        }
        .work-card{
            margin:3rem;
        }
    }
    button:hover{
        background-color: lightskyblue;
        transition: 2500ms;
    }
}

.education{
    .education-title{
        text-align: center;
    }
}