.skills_table{
    max-width: 90%;
    text-align: left;
    padding: 0;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    @include for-phone-only{
        width: 60%;
        grid-template-columns: 1fr;
    }
    @include for-tablet-landscape-up{
        width: 45%;
        grid-template-columns: 1fr 1fr;
    }
    li{
        font-size: .9rem;
    }
}


.projects{
    .projects-header{
        text-align: center;
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .cards-container{
        @include for-phone-only{
            display: block;
            .project-card{
                margin: 2rem;
            }
        }
        @include for-tablet-landscape-up{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        
        }
        .project-card{
            max-width: 350px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 2rem;
        }
    }
    button:hover{
        background-color: lightskyblue;
        transition: 2500ms;
    }
}

.MuiButtonBase-root, .MuiCardActionArea-root{
    height: 100%;
}

.work{
    margin: 0;
    padding: 0;
    .work-title{
        text-align: center;
    }
    .work-card-container{
        margin-right: auto;
        margin-left: auto;
        @include for-tablet-landscape-up{
            max-width: 60%;
        }
        @include for-tablet-portrait-up{
            max-width: 80%;
        }
        @include for-phone-only{
            width: 80%;
        }
        .work-card{
            width: 100%;
            margin-top: 1rem;
        }
    }
    button:hover{
        background-color: lightskyblue;
        transition: 2000ms;
    }
}

.education{
    .education-title{
        text-align: center;
    }
    .education-card-continer{
        margin-right: auto;
        margin-left: auto;
        @include for-tablet-landscape-up{
            max-width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        @include for-tablet-portrait-up{
            max-width: 80%;

        }
        @include for-phone-only{
            width: 80%;
        }
    .education-card{
        width: 100%;
        margin-top: 2rem;

    }  
}
.education-card:hover{
        background-color: lightskyblue;
        transition: 2000ms;
    }
}