.css-187mznn-MuiSlider-root{
    width: 70% !important;
    margin-right: auto !important;
    margin-left: 2rem !important;
};

.slider-fruity{
    color: #001f3f !important;
}
.slider-bitter{
    color: blueviolet !important;
}
.slider-heavy{
    color: #0074D9 !important;
}
.slider-strong{
    color: #39CCCC !important;
}
.slider-sunny{
    color: #85144b !important;
}
