.sliders{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
.slider-fruity{
    color: #001f3f !important;
}
.slider-bitter{
    color: blueviolet !important;
}
.slider-heavy{
    color: #0074D9 !important;
}
.slider-strong{
    color: #39CCCC !important;
}
.slider-sunny{
    color: #85144b !important;
}
}